body
{
	margin: 0;
	/* Background pattern from Toptal Subtle Patterns */
	background-image:url("wall4/wall4/wall4.png");
	/*background-image:url("grunge_wall/grunge_wall/grunge_wall.png");*/
    /*font-family: 'Encode Sans SC', sans-serif;*/
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
    font-size: 17px;
}

h1
{
	font-size: 32px;
	font-family: 'Encode Sans SC', sans-serif;
	font-weight: 400;
	color: #FA7C00;
	margin-bottom: 20px;
	text-align: center;
}
h3
{
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
	color: #009999;
	margin-bottom: 20px;
	text-align: center;
}
.paper
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image:url("linedpaper/linedpaper/linedpaper.png");
	width: 400px;
	padding-bottom: 15px;
	min-height: 220px;
	/*padding-left: 10px;
	padding-right: 10px;*/
	padding: 10px 10px;
	/*margin-left: auto;
	margin-right: auto;
	margin-top:40px;
	margin-bottom: -45px;*/
	margin: 10px auto -45px auto;
	transform: rotate(-13deg); 
	z-index: 1000;
	position:relative;
	
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	
}
#sideNav
{
	min-width: 185px;
	margin-top: -4px;
	margin-left: -12px;
	background-color: #5cd6d6;
	opacity: 0.7;
	text-align: center;
	font-size: 18px;

}
#footer
{
	text-align: center;
	margin-top:10px;
}
.optionL
{
	font-size: 18px;
	height:70px;
	padding:25px;
	text-align:center;
	box-sizing: border-box;
	border-bottom: 2px dotted #009999
	
}
.nav-link
{
	color: #c1f0f0 !important;
}

.optionL:hover,
button:hover,
.btn:hover

{
	/*background-color: #f36742;*/
	background-color: #009999;
	color: white !important;
	/*border-radius: 0 !important;*/
	/*font-weight: 700;*/
	cursor: pointer;
}
button:focus,
.btn:focus
{
	border: 2px solid #00cccc;
	/*background-color: #f36742;
	background-color: #009999;*/
	background-color: #cc6600;
	/*background-color: #cc5200;*/
	color: white;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}
.navbar-toggler:focus
{
	background-color: #00cccc;
	outline: none;
	box-shadow: none;
}
#custom-container
{
	background-color: white;
	/*width: 100%;*/
	/*padding-bottom: 50px;
	padding-top: 20px;*/
	padding: 20px 50px 50px 50px;
	text-align:center;
	/*min-height: 800px;*/
	margin-top: -4px;
	margin-left: -12px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}
h2
{
	font-size: 38px;
	font-weight: 600;
	color: #FA7C00;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Zen Loop', cursive;
}
input[type=button],
input[type=submit]

{
	width: 300px;
	background-color: #00cccc;
	font-size: 20px;
	color: white;
	padding: 15px 15px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor:pointer;
	letter-spacing: 2px;
	outline: none;
}
input[type=button]:focus
{
	border: 2px solid #00cccc;
	background-color: #f36742;
	color:#004d4d;
}
input[type=button]:hover
{
	background-color: #009999;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
}
a:link
{
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	display: block;
}
/*.col
{
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	display: inline-block;
}*/

.pad_row
{
	text-align: right;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	box-sizing: border-box;
	
}
.custom_row
{
	margin-left:10px;
	padding-right: 20px;
	text-align: right;
}
/*
{
	width: 300px;
	background-color: #00cccc;
	font-size: 20px;
	color: white;
	padding: 15px 15px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor:pointer;
	letter-spacing: 2px;
	outline: none;
	
}*/
input[type=submit]:focus
{
	border: 2px solid #00cccc;
	background-color: #e6ffff;
	color: #004d4d;
}

input[type=submit]:hover
{
	background-color: #009999;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
}
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;

}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=date]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	border: 2px solid #00cccc;
	background-color: #e6ffff;
	color: #00cccc;
	
}
.logo
{
	width:100%;
	color: #00bbbb;
	color: #00cccc;
	/*color: #47d1d1;*/
	margin-top: -200px;
	/*margin-top: -255px;*/
	/*margin-bottom: -4.8%;*/
	margin-bottom: -6px;
	
}
#tree1
{
	font-size: 450%;
	margin-bottom: -8px;
}
#gift
{
	
	margin-left: -46px;
	font-size:30px;
	margin-bottom:3px;
}
#person
{
	color: #00bbbb;
	color: #00cccc;
	/*color: #47d1d1;*/
	font-size: 70px ;
	margin-left:0;
	
	margin-bottom: -86px;
	transform: rotate(20deg) translateY(60px);
	
}
#child
{
	font-size:350%;	
	margin-left:53%;

}
#bicycle
{
	font-size: 350%;
	margin-left:40px;
	margin-bottom: -8px;
}
#flower
{
	font-size:200%;
	margin-left:40px;
	font-size:30px;
	margin-bottom: 3px;
}
#airplane
{
	
	color: #00bbbb;
	color: #00cccc;
	font-size:30px;
	font-size: 200%; 
	margin-left:75%; 	
	transform: translateY(-210px)
}
#tree2
{
	margin-left:-3%;
	font-size:168px;
	margin-left:-80px;
	margin-bottom: -40px;
}
ol
{
	padding: 0;
	margin-top: 150px;
	list-style-type: none;
	font-size: 18px;
	
	min-height: 80px;
	line-height: 300%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}
ol > li
{
	float: left;
	width: 250px;
	height: 40px;
	border-right: 2px dotted #009999;
}

ol > li > ul,
.optionL > ul
{
	list-style-type: none;
	padding: 5px;
	box-sizing: border-box;
	margin: 0;
	height: 80px;
	display: none;
}

ol > li > ul >li,
.optionL > ul >li
{
	background-color: #5cd6d6;
	opacity: 90%;
	position: relative;
	z-index: 100;
	font-weight: 400;
	border-top: 1px dashed #751b1b;
}

ol > li:hover,

.optionL > ul > li:hover
{
	background-color: #f36742;
	height: 50px;

}
ol > li > ul >li:hover
{
	background-color: #f36742;
	max-height: 100px;

}

ol > li > ul >li:hover > a
{
	color: white;
	
}
ol > li:hover > ul,
.optionL:hover > ul
{
	display: block;
	
}

/*label {
  display: flex;
  align-items: center;
}*/

span
{
	margin-left: 5px;
}

span::after {
  padding-left: 5px;
  
  
}

input[type=date]:invalid + span::after {
  content: '✖';
}

input[type=date]:valid+span::after {
  content: '✓';
  
}

.row
{
	min-height: 60px;
	/*min-height: 50px;*/
	margin-top: 30px;
	margin-bottom: -12px;
	/*margin-bottom: -8px;*/
}



/*@media(min-width: 576x)
{
.smallSize
	{
		margin: auto;
		
	}
	.custom-row
	{
		text-align: center;
	}
}*/

@media(min-width: 768px)
{
	.logo
	{
		margin-top: -93px;
		
	}
	/*	.row
	{
		margin-bottom: -7px;
	}*/
/*.paper
	{
		margin-bottom: -85px;
	}*/
}
/*@media(max-width: 1200px)
{
	.custom-row
	{
		text-align: center;
	}
}*/	

@media(min-width: 1200px) 
{
.logo
	{
		margin-top: -200px;

	}
/*.paper
	{
		/*margin-bottom: -85px;*/
		/*margin-top: 40px;*/
	/*}*/
	/*.row
	{
		margin-bottom: -7px;
	}*/
}

.bg-custom
{
	background-color:#00bbbb;
	background-color: #00cccc;
	/*background-color: #47d1d1;*/
	
	color: white;
	
}

.dropdown-menu
{
	background-color: #aeeaea;
}
