body
{
	margin: 0;
	/* Background pattern from Toptal Subtle Patterns */
	background-image:url("doodles/doodles/doodles.png");
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 42px;
	font-family: 'Encode Sans SC', sans-serif;
	font-weight: 400;
	color: #FA7C00;
	margin-bottom: 20px;
	text-align: center;
}
h2
{
	font-size: 38px;
	font-weight: 600;
	color: #FA7C00;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Zen Loop', cursive;
}
#logo
{
	background-color: white;
	
	/* Background pattern from Toptal Subtle Patterns */
	background-image:url("linedpaper/linedpaper/linedpaper.png");
	width: 450px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	transform: rotate(15deg); 
	z-index: 100;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	
}
#container
{
	background-color: white;
	width: 50%;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align:center;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	
}
.col
{
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	display: inline-block;
}
.row
{
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b06c;
	font-size: 20px;
	color: white;
	padding: 15px 15px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor:pointer;
	letter-spacing: 2px;
	outline: none;
	
}
input[type=submit]:focus
{
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]:hover
{
	background-color: #37b93d;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
}
input[type=text],
input[type=email],
input[type=number],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
